.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-primary-color);
}

.header-nav__logo--dark {
  color: var(--logo-header-color);
}

.logo--light {
  color: var(--logo-footer-color);
}
