:root {
  /* text-color */
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --accent-color: #2196f3;

  /* logo-color */
  --logo-primary-color: #2196f3;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  /* primary-color-icons */
  --icons-primary-color: #afb1b8;
  /* btn-color */
  --background-btn-color: #f5f4fa;
  --backbround-btn-color-hover: #188ce8;
}
