.advantage-list {
  display: flex;
}
.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantage-item {
  width: 270px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--second-text-color);
}

.advantage-icon {
  width: 70px;
  height: 70px;
}

.advantage-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--background-btn-color);
}
