.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.customers-list {
  display: flex;
}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-logo-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo-link:hover,
.customers-logo-link:focus {
  border-color: var(--accent-color);
}
.customers-icon {
  width: 106px;
  height: 60px;
  fill: var(--icons-primary-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .customers-logo-link:hover &,
  .customers-logo-link:focus & {
    fill: var(--accent-color);
  }
}
.company {
  padding: 25px 65px 26px 62px;
}
